h1 Trials in <a href='/project/#{@project}'>#{@project}</a> / #{@experiment}
a.btn.btn-success href="/project/#{@project}/experiment/#{@experiment}/select" Select trials by parameters

- for trial in @trials
	== slim :trial_partial, :locals =>{:trial => trial}, :layout =>false